package com.foxhis.entity.processer;
import com.foxhis.entity.*;
import com.foxhis.entity.ejbutil.*;
import com.foxhis.pms.biz.FoxPublicBiz;
import com.foxhis.utils.FoxValidateUtil;
import com.foxhis.utils.FoxDesensitizedUtil;
import com.foxhis.utils.SessionUtils;
import org.apache.commons.lang.StringUtils;
import javax.ejb.Local;
import javax.ejb.Stateless;
import java.util.Date;
import java.util.Objects;

@Stateless(name="$tableEntity.toLowerCase()")
@Local(FoxSecurityEntityProcesser.class)
public class ${tableName}_SecurityEntityProcesser extends AbstractFoxSecurityEntityProcesser<${originTable}, ${secTable}> {

    @Override
    public FoxSecurityEntityProcesserResponse<${originTable}, ${secTable}> beforeSave(${originTable} ent) {
        int process = 0;
        ObjFacadeBase objFacadeBase = EjbFacadeUtil.getFacadeLocal(ObjFacadeBase.class);
#if($tablePkColumns.size() == 1)
        ${secTable} secent = ($secTable) objFacadeBase.findById(${tableEntity}.class, ent.get$tablePk.getCapitalName()());
#elseif($tablePkColumns.size() > 1)
        ${secTable}_PK secpk = new ${secTable}_PK();
#foreach (${column} in ${tablePkColumns})
        secpk.set$column.getCapitalName()(ent.get$column.getCapitalName()());
#end
        ${secTable} secent = (${secTable}) objFacadeBase.findById(${secTable}.class, secpk);
#end
        boolean isNew = false;
        if (secent == null) {
            isNew = true;
#if(${originTable} == ${secTable})
            secent = ent;
#else
            secent = new ${secTable}();
#foreach (${column} in ${tablePkColumns})
            secent.set$column.getCapitalName()(ent.get$column.getCapitalName()());
#end
#end
            secent.setCby(SessionUtils.getEmpno());
            secent.setChanged(new Date());     
        }
#foreach (${securityColumn} in ${securityColumns})
#set($co = ${securityColumn.getOriginColumn()})
#set($cu = ${securityColumn.getOriginColumnCapitalName()})
#if(!${securityColumn.isQry()})
        // sec_${co}
        String nencSec${cu} = FoxSecurityHelper.encode(ent.get${cu}());
        String oencSec${cu} = secent.getSec_${co}();
        if(!Objects.equals(oencSec${cu},nencSec${cu})) {
            secent.setSec_${co}(nencSec${cu});
            process++;
        }
#end
#end
#foreach (${securityColumn} in ${securityColumns})
#set($co = ${securityColumn.getOriginColumn()})
#set($cu = ${securityColumn.getOriginColumnCapitalName()})
#if(${securityColumn.isQry()})
        // qry_${co}
        String nencQry${cu} = FoxSecurityHelper.encode(ent.get${cu}());
        String oencQry${cu} = secent.getQry_${co}();
        if(!Objects.equals(oencQry${cu},nencQry${cu})) {
            secent.setQry_${co}(nencQry${cu});
            process++;
        }
#end
#end

        FoxSecurityEntityProcesserResponse<${originTable}, ${secTable}> response = new FoxSecurityEntityProcesserResponse<>();
        response.setEntity(ent);
        response.setSecEntity(secent);
        response.setExist(!isNew);
        response.setModified(process > 0);
        return response;
    }


    @Override
    public Object afterRetrieve(${originTable} ent) {
#if(${originTable} == ${secTable})
		${secTable} secent = ent;
#else
        ObjFacadeBase objFacadeBase = EjbFacadeUtil.getFacadeLocal(ObjFacadeBase.class);
#if($tablePkColumns.size() == 1)
        ${secTable} secent = ($secTable) objFacadeBase.findById(${tableEntity}.class, ent.get$tablePk.getCapitalName()());
#elseif($tablePkColumns.size() > 1)
        ${secTable}_PK secpk = new ${secTable}_PK();
#foreach (${column} in ${tablePkColumns})
        secpk.set$column.getCapitalName()(ent.get$column.getCapitalName()());
#end
        ${secTable} secent = (${secTable}) objFacadeBase.findById(${secTable}.class, secpk);
#end
#end
        if (secent == null) {
            return ent;
        }
        ${originTable} cloneEntity = (${originTable})ent.clone();
#foreach (${securityColumn} in ${securityColumns})
#set($co = ${securityColumn.getOriginColumn()})
#set($cu = ${securityColumn.getOriginColumnCapitalName()})
#if(!${securityColumn.isQry()})
        // sec_${co}
        if (StringUtils.isNotBlank(secent.getSec_${co}())) {
            cloneEntity.set${cu}(FoxSecurityHelper.decode(secent.getSec_${co}()));
#if(${originTable} == ${secTable})
			cloneEntity.setSec_${co}("");
#if(${securityColumn.isQry()})	
			cloneEntity.setQry_${co}("");
#end
#end
        }
#end
#end
        return cloneEntity;
    }

    @Override
    public ${originTable} desensitize(${originTable} entity) {
#if(${originTable} == ${secTable})
            ${originTable} cloneEntity = entity;
#else
            ${originTable} cloneEntity = (${originTable})entity.clone();
#end
        
#foreach (${securityColumn} in ${securityColumns})
#set($co = ${securityColumn.getOriginColumn()})
#set($cu = ${securityColumn.getOriginColumnCapitalName()})
#set($cc = ","+${securityColumn.getOriginColumn()}+",")
#set($cc1 = ",name,name2,name4,fname,contactor,guestname,empnoname,saleid_name,cusname,cusno_des,agent_des,source_des,group_des,groupno_des,receipname,cby_name,")
#set($cc1_1 = ",applname,usename,accntname,invoicename,accntname1,workername,empnoname,reportname,pmsname,attname,cbyname,unitname,htlname,owner_name,guide_name,dsb_name,")
#set($cc1_2 = ",contractname,holdname,signname,invoicename,hname,haccntname,signname2,guest_name,haccnt_des,")
#set($cc2 = ",mobile,phone,contact_mobile,contactor_mobile,tele_phone,addressee,receipmobile,applymobile,usemobile,accept_mobile,warning_mobile,reviewer_mobile,dsb_mobile,")
#set($cc2_1 = ",guest_phone,linkmobile,wlmobile,cplman_phone,")
#set($cc3 = ",tel,telephone,")
#set($cc4 = ",email,receipemail,")
#set($cc5 = ",address,street,mailing_address,guest_address,")
#set($cc6 = ",bankcode,")
#if(!$securityColumn.isQry())
        // sec_${co}
#if("ident" == ${co})        
        if (StringUtils.isNotBlank(cloneEntity.getIdent())) {
            cloneEntity.setIdent(FoxDesensitizedUtil.idCardNumByXR(cloneEntity.getIdent()));
        }
#elseif($cc1.contains(${cc}) || $cc1_1.contains(${cc}) || $cc1_2.contains(${cc})) 
        if (StringUtils.isNotBlank(cloneEntity.get${cu}())) {
            cloneEntity.set${cu}(FoxDesensitizedUtil.chineseName(cloneEntity.get${cu}()));
        }
#elseif($cc2.contains(${cc}) || $cc2_1.contains(${cc})) 
        if (StringUtils.isNotBlank(cloneEntity.get${cu}())) {
            cloneEntity.set${cu}(FoxDesensitizedUtil.mobilePhone(cloneEntity.get${cu}()));
        }
#elseif($cc3.contains(${cc})) 
        if (StringUtils.isNotBlank(cloneEntity.get${cu}())) {
            cloneEntity.set${cu}(FoxDesensitizedUtil.fixedPhone(cloneEntity.get${cu}()));
        }
#elseif($cc4.contains(${cc})) 
        if (StringUtils.isNotBlank(cloneEntity.get${cu}())) {
            cloneEntity.set${cu}(FoxDesensitizedUtil.email(cloneEntity.get${cu}()));
        }
#elseif($cc5.contains(${cc})) 
        if (StringUtils.isNotBlank(cloneEntity.get${cu}())) {
            cloneEntity.set${cu}(FoxDesensitizedUtil.address(cloneEntity.get${cu}()));
        }
#elseif($cc6.contains(${cc})) 
        if (StringUtils.isNotBlank(cloneEntity.get${cu}())) {
            cloneEntity.set${cu}(FoxDesensitizedUtil.bankCard(cloneEntity.get${cu}()));
        }
#end
#end
#end    
        return cloneEntity;
    }
}
